* {
    /* outline: 1px dashed purple; */
    padding: 0;
    margin: 0;
}

/* top header */

#header_top {
    height: 10vh;
    width: 80vw;
    background-color: grey;
    opacity: 0.8;
    display: flex;
    position: fixed;
    margin-left: 20vw;
    z-index: 1000;
}

#header_top > h1 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    line-height: 10vh;
}

#header_top > h2 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
}

#header_top > div > a {
    text-decoration: none;
    color: white;
}

#user {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

#user > a {
    margin: 20px;
    justify-content: center;
}

#user > a:last-child {
    height: 50%;
    padding-right: 15px;
}

#user > a > svg {
    height: 100%;
    width: auto;
    color: white;
}

/* left header */

#header_left {
    width: 20vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

#header_logo {
    width: 60%;
    height: auto;
    margin: 30px;
    border-radius: 3px;
}

#header_left > a {
    text-decoration: none;
    color: white;
    font-size: 120%;
    margin: 10px;
}

#header_left > :last-child {
    margin-top: auto;
    margin-bottom: 30px;
}

#header_left > :not(:last-child):not(img) {
    padding: 10px;
    border-bottom: 2px solid white;
}

/* main content */

body {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    overflow: auto;
}

section {
    width: auto;
    min-height: 100vh;
    margin-top: calc(10vh + 10px);
    margin-left: 20vw;
    padding: 15px;
    overflow: auto;
}

#login_form {
    display: flex;
    flex-direction: column;
    margin: 10vh 20vh 0 20vh;
}

#login_form > button {
    margin-top: 20px;
}

/* Form new user */

#form_new_user {
    margin: 9vh 20vw 0 20vw;
    padding:  20px 30px 20px 30px;  
    border-radius: 5px;
    background-color: grey;
    opacity: 0.8;
}



tr, tr td {
    height: 20px;
}
td {
    text-align: center;
}
tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
}

tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #eee;
}

tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
}

tbody tr td {
    position: relative;
    vertical-align: top;
    height: 40px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
}